body {
    margin: auto !important;
    padding-top: 50px;
    width: 100%;
    color: #666;
}
.content {
    margin: auto !important;
    width: 70%;
    color: #666;
}
nav .navtitle {
    width: 100px;
    margin-top: 10px;
    float: left !important;
}
nav .navtitle li a {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}
.navbar-default {
    background-color: #02CF80 !important;
    border-color: #02CF80 !important;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav li a {
    text-decoration: none;
    color: #666;
}
.active a {
    color: #666 !important;
    background-color: #FFF !important;
}
a:hover {
    text-decoration: none !important;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    overflow: hidden;
    background-color: #02CF80;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer ul {
    margin: auto;
    width: 420px;
}
footer ul li {
    display: inline;
}
footer ul li a {
    color: #FFF !important;
    font-size: 18px;
}
footer ul li a span {
    margin-right: 1px;
}
.container {
    margin-top: 5px;
}
#mt {
    margin-left: 15px;
}
#applinks {
    width: 100%;
  }
  #applinks td {
    width: 50%;
  }
  .applink img {
    max-width: 30%;
    height: auto;
  }
  .descr {
    font-size: 17px;
    width: 100%; 
  }
  .descr img {
    max-width: 100%;
    height: auto;
  }
  #twitter-box {
    width: 100%;
    height: 800px;
    margin: auto;
  } 
  #appstore-widget {
    width: 250px;
    margin: auto;
  }
  .apppic {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
  }
  .dropdown-menu li a {
    padding-top: 5px !important;
    padding-right: 15px !important;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
  }
  .apppic {
    margin-right: 5px !important;
  }
